### String Indexing

In [2]:
t = 'Python and Machine Learning'

In [3]:
t

'Python and Machine Learning'

In [9]:
t[0] # fetch only 0 index

'P'

In [10]:
t[5] # fetch only 5th index

'n'

In [11]:
t[0:15] #[starding point including : ending point excluding]

'Python and Mach'

In [12]:
t[0:] # fetch starting from index no. 0 and end index no. not mention means it count upto last inderx

'Python and Machine Learning'

In [13]:
t[0:16:2] # here 2 is step size

'Pto n ah'

In [15]:
t[0::2] # here end point missing by default it count upto last index no.

'Pto n ahn erig'

In [16]:
t[::]

'Python and Machine Learning'

In [17]:
t[::2]

'Pto n ahn erig'

In [18]:
t[::-1] # here starting from last index and index value is 1

'gninraeL enihcaM dna nohtyP'

In [20]:
t[::-1]

'gninraeL enihcaM dna nohtyP'

In [21]:
print(list(t))

['P', 'y', 't', 'h', 'o', 'n', ' ', 'a', 'n', 'd', ' ', 'M', 'a', 'c', 'h', 'i', 'n', 'e', ' ', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

In [23]:
t[15:5:-2]

'icMda'

## FUNCTIONS

In [26]:
def say_hello():
    
    print('This is just a sample')

In [27]:
say_hello()

This is just a sample

In [28]:
def greeting (name):
    print('Hello ', name)
greeting ('Dear Students')

Hello  Dear Students

In [31]:
# another way of using def function
def greeting (name):
    print('Hello %s ' %name)
greeting ('Dear Students')

Hello Dear Students

#### SALARY UPDATE using return

In [44]:
def salary_incr(salary):
    if salary <= 9000:
        return (salary + 1000)
    else:
        return salary
print('Your New Salary =',salary_incr(9000))

Your New Salary = 10000

#### With multiple arguments (adding students marks)

In [3]:
def student_marks(math,science,english):
    return (math + science + english)
print('Your total marks =',student_marks(55,65,89))

Your total marks = 209

In [10]:
Rinky_marks = student_marks(94,74,82)

In [11]:
Rinky_marks

250

In [14]:
if Rinky_marks < 90:
    print('Rinky you are fail')
elif Rinky_marks >=90 and Rinky_marks < 150:
    print('Rinky you are pass')
elif Rinky_marks >=150 and Rinky_marks < 250:
    print('Rinky you are first')
else:
    print('Rinky you are dictinction')

Rinky you are dictinction

In [23]:
faishal_marks = student_marks(85,75,97)
if faishal_marks < 90:
    print('faishal your total marks are', faishal_marks , 'and you are fail.')
elif faishal_marks >=90 and faishal_marks < 150:
    print('faishal your total marks are', faishal_marks , 'and you are pass.')
elif faishal_marks >=150 and faishal_marks < 250:
    print('faishal your total marks are', faishal_marks , 'and you got first.')
else:
    print('faishal your total marks are', faishal_marks , 'and you got distinction.')

faishal your total marks are 257 and you got distinction.

In [26]:
print(student_marks('maths ','science',' english'))

maths science english

In [31]:
def sqrt_num(number):
    for n in range (2,number):
        if n%2 ==0:
            print('squared :', n**2)
        else:
            print('It is not even number :', n)

In [32]:
sqrt_num(15)

squared : 4
It is not even number : 3
squared : 16
It is not even number : 5
squared : 36
It is not even number : 7
squared : 64
It is not even number : 9
squared : 100
It is not even number : 11
squared : 144
It is not even number : 13
squared : 196

### Lambda function

In [33]:
lambda arguments : expression

In [34]:
x = lambda y : y + 30
print(x(50))

80

In [43]:
x = lambda a, b : a ** b  # it means a is base and b is power
print(x(2,5))

32

In [44]:
t = lambda a, b, c : a + b * c

print(t(5,10,5))

55

#### project by self

In [32]:
def counting_num(number):
    for n in range (2, number):
        if n<= 20 and n>=15:
            #print('********************************************************')
            print('less than 20 ===>', number)
            print('********************************************************')
        elif n>=45:
          #  print('********************************************************')
    
            print('more than 45 ==<', number)
            print('********************************************************')

In [33]:
counting_num(51)

less than 20 ===> 51
********************************************************
less than 20 ===> 51
********************************************************
less than 20 ===> 51
********************************************************
less than 20 ===> 51
********************************************************
less than 20 ===> 51
********************************************************
less than 20 ===> 51
********************************************************
more than 45 ==< 51
********************************************************
more than 45 ==< 51
********************************************************
more than 45 ==< 51
********************************************************
more than 45 ==< 51
********************************************************
more than 45 ==< 51
********************************************************
more than 45 ==< 51
********************************************************

#### project with the help of class lrcturur

In [36]:
i =range (15,51)
for j in i:
    if j >=45:
        print('*'*30)
        print('more than 45 ===<',j)
    elif j <=20:
        print('*'*30)
        print('less than 20 ==>',j)

******************************
less than 20 ==> 15
******************************
less than 20 ==> 16
******************************
less than 20 ==> 17
******************************
less than 20 ==> 18
******************************
less than 20 ==> 19
******************************
less than 20 ==> 20
******************************
more than 45 ===< 45
******************************
more than 45 ===< 46
******************************
more than 45 ===< 47
******************************
more than 45 ===< 48
******************************
more than 45 ===< 49
******************************
more than 45 ===< 50